# -*- mode: ruby -*-
# vi: set ft=ruby :

VM_NAME = "fedora"
BOX = "garyburgmann/fedora-35"
BOX_VERSION = "202201.02.0"
# BOX = "bento/fedora-latest"
# BOX = "fedora/35-cloud-base"
# BOX_VERSION = "35.20211026.0"

HOSTNAME = "fedora"
NETWORK_TYPE = "private_network"
NETWORK_IP = "192.168.56.44"
MEMORY = 4096
CPU = 2
DISKSIZE = "100GB"
HOST_CODE_DIR = "~/code"
GUEST_CODE_DIR = "/home/vagrant/code"
HOST_KUBE_DIR = "~/.kube"
GUEST_KUBE_DIR = "/home/vagrant/.kube"
GIT_GLOBAL_USER_NAME = "Foo Bar"
GIT_GLOBAL_USER_EMAIL = "foobar@example.com"

Vagrant.configure("2") do |config|

  config.vm.box = BOX
  config.vm.box_version = BOX_VERSION
  config.vm.define VM_NAME

  config.vm.hostname = HOSTNAME
  config.vm.network NETWORK_TYPE, ip: NETWORK_IP, hostname: true
  config.vm.synced_folder ".", "/vagrant", disabled: true
  config.vm.synced_folder HOST_CODE_DIR, GUEST_CODE_DIR, type: "nfs"
  config.vm.synced_folder HOST_KUBE_DIR, GUEST_KUBE_DIR, type: "nfs"
  # config.vm.synced_folder HOST_CODE_DIR, GUEST_CODE_DIR, type: "nfs", nfs_export: false  # default => type: "rsync"

  config.vm.provider "virtualbox" do |v|
    v.memory = MEMORY
    v.cpus = CPU
    v.name = VM_NAME
  end

  if Vagrant.has_plugin?("vagrant-disksize")
    config.disksize.size = DISKSIZE
  end

  if Vagrant.has_plugin?("vagrant-vbguest")
    # config.vbguest.auto_update = false
    config.vbguest.installer_options = { allow_kernel_upgrade: true }
    # don't run dnf update otherwise kernel updates will cause issues with guest additions upgrades
    # config.vbguest.installer_hooks[:before_install] = [
    #   # "dnf update -y",
    #   "dnf install -y gcc make perl kernel-devel-$(uname -r) bzip2 dkms",
    #   # "dnf update -y kernel-*",
    # ]
  end

  config.vm.provision "shell", path: "./bin/provision/install_base.sh", privileged: false
  config.vm.provision "shell", inline: "git config --global user.name #{GIT_GLOBAL_USER_NAME}", privileged: false
  config.vm.provision "shell", inline: "git config --global user.email #{GIT_GLOBAL_USER_EMAIL}", privileged: false
  config.vm.provision "shell", path: "./bin/provision/install_kubectl.sh", privileged: false
  config.vm.provision "shell", path: "./bin/provision/install_nvm.sh", privileged: false
  config.vm.provision "shell", path: "./bin/provision/install_php.sh", privileged: false
  config.vm.provision "shell", inline: "sudo dnf -y install go", privileged: false
  config.vm.provision "shell", path: "./bin/provision/install_podman.sh", privileged: false
  config.vm.provision "shell", path: "./bin/provision/install_docker.sh", privileged: false
  config.vm.provision "shell", path: "./bin/provision/install_anaconda.sh", privileged: false
end
